/*
Fondo Oscuro: #0A0F1E
Texto Principal (Azul Claro): #9DC3F7
Texto Secundario (Gris Claro): #A9B4C6
Bordes y Líneas Decorativas (Cyan Suave): #3C99DC 
*/
body {
  background: #0a0f1e;
  color: #a9b4c6;
}

header {
  position: relative;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: #9dc3f7;
  border-radius: 50%;
}

.logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-color: #a9b4c6;
  position: absolute;
  border: 2px solid #3c99dc;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 1;
}

header section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.perfil {
  justify-content: center;
  align-items: center;
  height: 300px;
  clip-path: ellipse(40% 50% at 50% 50%);
}
.perfil img {
  width: 100%;
  height: 100%;
}

/* --- */
