/*
Fondo Oscuro: #0A0F1E
Texto Principal (Azul Claro): #9DC3F7
Texto Secundario (Gris Claro): #A9B4C6
Bordes y Líneas Decorativas (Cyan Suave): #3C99DC 
*/
h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  font-size: 3em;
  margin: 0;
}

h3 {
  font-size: 2em;
  margin: 0;
}

p {
  font-size: 1.5em;
  margin: 0;
}

body {
  background: #0a0f1e;
  color: #a9b4c6;
}

header {
  display: flex;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: #9dc3f7;
  border-radius: 50%;
}

.logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-color: #a9b4c6;
  position: absolute;
  border: 2px solid #3c99dc;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 1;
}

header section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.perfil {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;
}

/* --- */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.habilidadesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  width: 80%;
}

/* ------- */

footer {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.contacto {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  border: 1px solid #3c99dc;
  box-sizing: border-box;
  height: 50%;
  width: 100%;
}
