.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 0 2em;
  border-bottom: 1px solid #9dc3f7;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.name {
  font-size: 1.5em;
}
